html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Arial", sans-serif;
  font-size: calc(14px + 0.5vmin);
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
}

#header {
  padding: 1em;
  background-color: #cc0033;
}

#header h1 {
  max-width: 640px;
  margin: 0 auto;
  font-weight: 600;
}

#header a {
  color: white;
  text-decoration: none;
}

#header h1 {
  max-width: 640px;
  margin: 0 auto;
  font-weight: 600;
}

#header a {
  color: white;
  text-decoration: none;
}

#content {
  padding: 2rem 1rem 1rem;
  flex-grow: 1;
}

#footer {
  padding: 1em;
  border-bottom: 1em solid #cc0033;
}
#footer p {
  max-width: 640px;
  margin: 0 auto;
}

hr {
  background-color: #ccc;
  border: none;
  margin: 2em 0;
  height: 4px;
}

.simpleText {
  max-width: 640px;
  margin: 1em auto 2em;
}

.question {
  max-width: 640px;
  min-height: 5.5em;
  margin: 1em auto;
}

.description {
  margin: 1.5em auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

a {
  color: black;
  text-decoration: underline;
}

h2,
h3,
h4 {
  max-width: 640px;
  margin: 0 auto;
  font-weight: 600;
}

h3 {
  font-size: calc(16px + 1vmin);
}

h4 {
  margin: 0 auto 0.5em;
}

li {
  font-size: 16pt;
  text-indent: 16pt;
}

.navButtons {
  margin: 0 auto 1em;
  text-align: center;
  max-width: 400px;
}

button,
.button {
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-size: 18px;
  background-color: #cc0033;
  color: white;
  cursor: pointer;
}

.button:disabled {
  background-color: #ddd;
  border: .2rem solid #888;
  color: #888;
  cursor: not-allowed;
}

.button:hover, .button:focus {
  background: #1687e0;
}

.stronglyAgree {
  background: #1b5e20;
}

.stronglyAgree:hover, .stronglyAgree:focus {
  background: #154a19;
}

.agree {
  background: #4caf50;
}

.agree:hover, .agree:focus {
  background: #29942e;
}

.neutral {
  background: #949494;
}

.neutral:hover, .neutral:focus {
  background: #656565;
}

.disagree {
  background: #f44336;
}

.disagree:hover, .disagree:focus {
  background: #d6271a;
}

.stronglyDisagree {
  background: #b71c1c;
}

.stronglyDisagree:hover, .stronglyDisagree:focus {
  background: #a00e0e;
}

.small_button, .small_button_off {
  background-color: #333;
  font-family: 'Montserrat', sans-serif;
  border: .2rem solid #888;
  border-radius: .5rem;
  color: #fff;
  padding: .5rem;
  width: 10%;
  min-width: 8rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  cursor: pointer;
}

.small_button:hover, .small_button:focus {
  background: #222;
}

.small_button_off {
  background-color: #ddd;
  color: #888;
  border: .2rem solid #888;
  cursor: not-allowed;
  margin: 0 auto;
}

#banner {
  border-color: #444;
  border-style: dashed;
  border-width: .2rem;
  border-radius: .5rem;
  display: flex;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  min-width: 500pt;
}

@media screen and (orientation:portrait) {
  body {
    width: auto;
    border-width: 0;
  }

  #banner {
    min-width: 0;
    max-width: 100%;
    border-width: .1rem;
  }

  .button, .button:disabled {
    min-width: 0;
    max-width: 100%;
    width: 100%;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: initial;
  }

  .question {
    min-height: 10rem !important;
    min-width: 0;
    max-width: 100%;
    width: auto;
    font-size: 2rem;
  }
}
